<h1>
    {{title}}
</h1>
<br/><br/>
<a [routerLink]="['']">Home</a>
<a [routerLink]="['grid']">Grid</a>
<a [routerLink]="['buttons']">Buttons</a>
<a [routerLink]="['dropdowns']">Dropdowns</a>
<a [routerLink]="['layout']">Layout</a>
<a [routerLink]="['upload']">Upload</a>
<a [routerLink]="['charts']">Charts</a>
<a [routerLink]="['popup']">Popup</a>
<a [routerLink]="['dateinputs']">DateInputs</a>
<a [routerLink]="['inputs']">Inputs</a>
<a [routerLink]="['scrollview']">ScrollView</a>
<a [routerLink]="['label']">Label</a>
<a [routerLink]="['sortable']">Sortable</a>
<br/><br/>
<router-outlet></router-outlet>
